.App {
  padding: 5em;
  display: flex;
  justify-content: space-around;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start; 
}
.item-form{
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em 2em;
}
.button-form{
  margin-top: .5em;
  padding: 1em 2.5em;
}
.new-connect-container{
  display: flex;
}
.new-connect-item{
  padding-right: 5vh;
}
.user-connections-item{
  margin-top: .5em;
  margin-bottom: 1em;
  padding: 1em 1em;
}
.user-connections-button{
  padding: 1em 2em;
}
.content-select{
  max-width: 250px;
	position: relative;
  padding-right: 5vh;
}
.content-select select{
	display: inline-block;
	width: 100%;
	cursor: pointer;
  padding: 7px 10px;
	height: 42px;
  outline: 0; 
  border: 0;
	border-radius: 0;  
	font-size: 1em;
	border:1px solid #1f1f1f33;
  border-radius: 6px;
  position: relative;
  transition: all 0.25s ease;
}
 
.content-select select:hover{
  background-color: lightslategrey;
  color: aliceblue;
  cursor: pointer;
}

.connections-item{
  border-style:solid;
  border-color: lightslategrey;
  border-width: 1px;
  padding: .5em; 
}
.connections-item:hover{
  background-color: lightslategrey;
  color: aliceblue;
  cursor: pointer;
}
.connected{
  background-color: rgb(60, 245, 91);    
}
